#{extends 'main.html' /}
#{set title:'THE Password Generator' /}

<div class='text-normal'>
    To use <strong> <sub>THE</sub> Password Generator</strong> system you need an account. It's free and simple to create one. <br />
    <a href='@{User.createAccount()}'>let's create new account</a>
</div>

<form action="@{Application.generate()}" method="POST">
    <input type="text" name="username" />
    <input type="submit" value="generate password" />
</form>


<div class='title'>
    Ostatnio wygenerowane hasła:
</div>
<a href=@{User.showUser("Alkagar")}>see user</a>
#{if passwords}
    <ul>
    #{list items:passwords, as: 'password'}
        <li> 
            ${password.password} was generated for user: "${password.user}",
        </li>
    #{/list}
    </ul>
#{/if}
#{else}
    <div class='information'>
        There is no generated password's... :(<br />
        No one use this app... I'm sad, sad... sad...
    </div> 
#{/else}

