<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <div class='main-holder'>
        <div class='top-border'>
        </div>
        <div class='title-holder'>
            <strong>${applicationPrefix}</strong> 
            <h2><a href='@{Application.index()}'>${applicationName}</a></h2> 
            <div class='small'>v ${applicationVersion} on Play Framework</div>
        </div>
        <div class='hr'> </div>
        <div class='status-bar'>
            <div class='status-menu'>
                #{if authUser.information}
                    <a href='@{User.showuser(authUser.information.username)}'>your profile</a> | 
                    <a href='@{Application.generate(authUser.information?.username)}'>generate new password</a> | 
                    your stored passwords | 
                    <a href='@{User.logout()}'>log out</a>
                #{/if}
            </div>
            hello ${authUser?.information?.username ?: "guest"}
        </div>
        #{if flash.error}
            <div class="error-box">
                ${flash.error}
            </div>
        #{/if}

        #{doLayout /}

<div class='footer-holder'>
    ${applicationPrefix} ${applicationName} created by Katarzyna Wieczorek & Jakub Mrowiec
</div>
</div>
    </body>
</html>
